!!! 5
html
  head
    title Auth0 Example Application
    link(type='text/css', rel='stylesheet', href='/css/site.css')
  body
    header
      h1
        | Auth0 Example Application
    .main
      section
        h2 auth0 - is amazing!
        p hello 
          strong #{user.name}
          | . 
        p It seems that you logged in using 
          strong #{user.identities[0].provider} 
          | with the connection 
          strong #{user.identities[0].connection}
          |.
        img(src=user.picture, style='width: 75px;')
        p 
          a(href='/logout') logout
      
      section
        h2 users for the connection
        ul.others-users
          for user in others
            li
              img(
                  src=user.picture || 'https://ssl.gstatic.com/s2/profiles/images/silhouette80.png', 
                  style='width: 75px;', 
                  title=user.name + ' (' + user.email + ') using ' + user.identities[0].connection)